<template name="chatRecent">

  {{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Recent</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-left" data-ion-modal="_newConvo">
    {{#if isAndroid}}
      {{> ionIcon icon='android-create'}}
    {{else}}
      {{> ionIcon icon='ios-compose-outline'}}
    {{/if}}
    </button>
  {{/contentFor}}


  {{#ionContent}}

        {{#each convos}}
          {{#ionItem path="chat.show" buttonRight=true avatar=true class="item-icon-right"}}
              <img src="/profile.jpg">
              <h2>{{usernames}}</h2>
              <p><strong><span data-livestamp="{{dateUpdated}}"></span></strong>: {{lastMessage}}</p>
            {{> ionIcon icon='ios-arrow-forward' class="positive"}}
          {{/ionItem}}
        {{/each}}

  {{/ionContent}}

</template>



<template name="chatShow">

  {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton path="chat.recent"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">{{name}}</h1>
  {{/contentFor}}

<!--   {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-popover="_chatPopover">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='ios-more'}}
      {{/if}}
    </button>
  {{/contentFor}} -->


  {{#ionContent id="messages-cntr"}}
    {{#each messages}}
      <div class="list card">
        <div class="item item-avatar item-text-wrap">
            <img src="/profile.jpg">
            <h2>{{content}}</h2>
            <p class="subdued">Sent by {{username}} <span data-livestamp="{{dateCreated}}"></span></p>
        </div>
      </div>
    {{/each}}
  {{/ionContent}}

  {{#ionFooterBar class="item-input-inset"}}
    <form id="send-message">
    <label class="item-input">
      <input id="message-content" type="text" placeholder="Type a message..."/>
    </label>
  </form>
    <button class="button button-clear button-positive">
      Send
    </button>
  {{/ionFooterBar}}

</template>



<template name="_chatPopover">
  {{#ionPopover}}
    <div class="content">
      <div class="list">
        <button class="button button-full button-assertive" data-action="showActionSheet">
          {{#if isAndroid}}
            {{> ionIcon icon='android-delete'}}
          {{else}}
            {{> ionIcon icon='ios-trash'}}
          {{/if}}
          Delete
        </button>
      </div>
    </div>
  {{/ionPopover}}
</template>
